@media (max-width: 650px) {
  #WeatherForecast {
    padding-right: 10px;
  }
  .DailyForecast {
    max-width: 60px;
    margin: 0px 6px;
    justify-content: center;
  }
  .forecast-icon {
    max-width: 30px;
  }
  ul.temperature-forecast {
    font-size: 10px;
    padding: 0px;
  }
  .max-temp {
    font-size: 12px;
    padding-right: 2px;
  }
  .min-temp {
    font-size: 12px;
    padding-left: 0px;
  }
}
#WeatherForecast {
  padding-bottom: 10px;
  margin: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.forecast-day {
  margin-bottom: 2px;
}
.forecast-icon {
  margin-bottom: 10px;
}
.temperature-forecast {
  list-style: none;
  display: flex;
  padding: 0px 10px;
  margin: 0px;
  font-size: 18px;
}
.max-temp {
  padding-right: 5px;
}
.min-temp {
  padding-left: 5px;
}
